layout {

    focus-ring {
        active-color   "#e1e2d5"
        inactive-color "#1d1b1d"
        urgent-color   "#d94a59"
    }

    border {
        active-color   "#e1e2d5"
        inactive-color "#1d1b1d"
        urgent-color   "#d94a59"
    }

    shadow {
        color "#120f1870"
    }

    tab-indicator {
        active-color   "#e1e2d5"
        inactive-color "#a5ac59"
        urgent-color   "#d94a59"
    }

    insert-hint {
        color "#e1e2d580"
    }
}

recent-windows {
    highlight {
        active-color "#e1e2d5"
        urgent-color "#d94a59"
    }
}
